.building {
    background: lightgrey;
    width: 100%;
    height: 300px;
}

.floors {
    width: 100px;
    height: 300px;
    background: black;
    float: right;
}

.floor {
    height: 98px;
    width: 90%;
    background: grey;
    border: solid 1px;
    font-size: 25px;
    text-align: center;
}

.elevator-shaft {
    width: 150px;
    height: 300px;
    background: green;
    margin-left: 10px;
    float: left;
    position: relative;
}

.lift {
    width: 90%;
    border: solid black;
    height: 100px;
    background: lightblue;
    position: absolute;
    font-size: 10px;
}

.lift-status {
    clear: both;
}

.lift-button {
    width:20px;
    height:20px;
    font-size: 15px;
    border: solid black;
    float: left;
    background: orange;
    cursor: pointer;
}